.body-container {
    margin-top: 5.5%;
}

.nav-path {
    position: relative;
    top: 30px;
    margin-left: 30px;
    
}

.nav-path span, .nav-path a {
    margin-right: 10px;
    font-size: 20px;
}

.nav-path a, .nav-path .slash {
    color: var(--color-senary);
    text-decoration: none;
    transition: 0.5s;
}
.nav-path a:hover {
    color: var(--color-default);
}

.product-grid-container {
    display: flex;
    flex-direction: row;  
    margin: 40px 20px;
}

.product-image-container img {
    height: auto;
    width: 1000px;
    object-fit: cover;
}

.product-details-container {
    margin-left: 20px;  
}

.product-name {
    font-family: var(--font-secondary);
    font-size: 38px;
    margin-top: 0;
    margin-bottom: 5px;
}

.product-desc {
    font-family: var(--font-default);
    font-size: 20px;
    margin-bottom: 40px;
}

.product-size-title {
    font-family: var(--font-default);
    font-size: 22px;
    margin-bottom: 10px;
}

.size-selector {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 15px;
    margin-bottom: 50px;
    width: 100%;
}

.size-option {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
}

.size-option input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.box-label {
    width: 100px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--color-senary);
    background-color: var(--color-secondary);
    color: var(--color-senary);
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    transition: all 0.3s;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}

.size-option input:checked ~ .box-label {
    background-color: var(--color-primary);
    color: var(--color-secondary);
    border-color: var(--color-quaternary);
    box-shadow: 0 0 3px var(--color-primary);
}

.size-option input:focus ~ .box-label {
    outline: 2px solid var(--color-quaternary);
    outline-offset: 2px;
}

.product-prize {
    font-size: 25px;
    font-family: var(--font-primary);
    margin-bottom: 50px;
}

button, .button_top {
    display: block;
    height: 70px;
    width: 100%;
    border-radius: 0.75em;
}

button {
    margin-bottom: 20px;    
    background-color: var(--color-secondary);
    font-size: 17px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    background: var(--color-quaternary);
}
  
.button_top {
    box-sizing: border-box;
    border: 2px solid var(--color-quaternary);
    padding: 1.50em 1.5em;
    background: var(--color-secondary);
    transform: translateY(-0.2em);
    transition: transform 0.1s ease;
}
  
button:hover .button_top {
    transform: translateY(-0.33em);
}
  
button:active .button_top {
    transform: translateY(0);
}

.size-chart-title {
    font-family: var(--font-default);
    font-size: 22px;
    text-align: center;
    margin-top: 30px;
}

.size-chart {
    max-width: 850px;
}

@media (max-width: 1440px) {
    .nav-path {
        top: 55px;
    }

    .product-grid-container {
        display: grid;
        grid-template-columns: repeat(2 , 1fr);
        margin-top: 80px;
    }

    .product-image-container img {
        width: 750px;
    }

    .size-selector {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 15px;
        margin-bottom: 50px;
        width: 100%;
    }
    
    .size-chart {
        width: 640px;
    }
}

@media (max-width: 1024px) {
    .nav-path {
        top: 50px;
    }

    .nav-path a, .nav-path span {
        font-size: 17px;
    }

    .product-grid-container {
        grid-template-columns: repeat(1, 1fr);
        margin-top: 70px;
    }

    .product-image-container img {
        width: 100%;
    }

    .product-details-container {
        margin-left: 0;
    }
    
    .product-name {
        font-size: 30px;
    }

    .product-desc {
        font-size: 17px;
    }

    .product-size-title {
        font-size: 20px;
    }

    .size-selector {
        grid-template-columns: repeat(5, 1fr);
        row-gap: 10px;
    }

    .box-label {
        width: 180px;
        height: 40px;
    }

    .size-chart {
        margin-left: 7%;
        width: 100%;
    }
}

@media (max-width: 768px) {
    .box-label {
        width: 150px;
    }

    .size-chart {
        margin-left: 0;
    }
}

@media (max-width: 425px) {
    .box-label {
        width: 80px;
    }

    button, .button_top {
        height: 50px;
    }

    .button_top {
        padding: 0.9em 1.5em;
    }
}

@media (max-width: 375px) {
    .box-label {
        width: 70px;
    }
}

@media (max-width: 320px) {
    .product-desc {
        font-size: 15px;
    }

    .box-label {
        width: 50px;
    }
}