{% extends 'app/base.html' %}
{% include 'app/navbar.html' %}
{% load static %}

{% block content %}
    <br><br><br><br><br><br><br>  

<div style="text-align: center;">
    <h1>! Under Construction !</h1>
    <br>
    <div style="border: 1px solid black; padding 10px 10px;">
        <h4>soon to be added to homepage</h4>
        <h4>soon to be fixed as a section to receive feedbacks</h4>
        <h4>soon to be added new features</h4>
    </div>
</div>
    
{% endblock content %}