{% extends 'app/base.html' %}
{% include 'app/navbar.html' %}
{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/product.css' %}">

<div class="body-container">
    <div class="nav-path">
        <a href="{% url 'home' %}">Home</a><span class="slash">/</span><a href="{% url 'store' %}">Store</a><span class="slash">/</span><span>{{product.prod_name}}</span>
    </div>
</div>       

<diV class="product-grid-container">
    <div class="product-image-container">
        <img src="{{product.prod_photo.url}}">
    </div>
    <div class="product-details-container">
        <h1 class="product-name">{{product.prod_name}}</h1>
        <p class="product-desc">{{product.description}}</p>
        <p class="product-size-title">Select Your Size:</p>
        <div class="size-selector">
            <label class="size-option">
                <input type="radio" name="size" value="small">
                <span class="box-label">6</span>
            </label>
            <label class="size-option">
                <input type="radio" name="size" value="small">
                <span class="box-label">7</span>
            </label>
            <label class="size-option">
                <input type="radio" name="size" value="medium">
                <span class="box-label">8</span>
            </label>
            <label class="size-option">
                <input type="radio" name="size" value="large">
                <span class="box-label">9</span>
            </label>
            <label class="size-option">
                <input type="radio" name="size" value="extra-large">
                <span class="box-label">10</span>
            </label>
            <label class="size-option">
                <input type="radio" name="size" value="extra-large">
                <span class="box-label">11</span>
            </label>
            <label class="size-option">
                <input type="radio" name="size" value="large">
                <span class="box-label">12</span>
            </label>
            <label class="size-option">
                <input type="radio" name="size" value="extra-large">
                <span class="box-label">13</span>
            </label>
            <label class="size-option">
                <input type="radio" name="size" value="extra-large">
                <span class="box-label">14</span>
            </label>
            <label class="size-option">
                <input type="radio" name="size" value="extra-large">
                <span class="box-label">15</span>
            </label>
        </div>
        <h2 class="product-prize">₱{{product.prod_price}}</h2>
        <button>
            <span class="button_top">Add to Cart</span>
        </button>
        <button>
            <span class="button_top">Buy Now</span>
        </button>
        <h1 class="size-chart-title">Size Chart</h1>
        <img class="size-chart" src="{% static 'images/Size-Chart.jpg' %}"> 
    </div>
</div>

{% endblock content %}